body {
    background-color: #c4cbd3; 
    margin: 0;
    padding: 0;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-inner {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}